<ng-container *ngIf="!isLoading">

  <app-preview [chef]="chef"></app-preview>
  
  <app-products [products]="products"></app-products>
  
  <div class="container">
  <div class="row d-flex justify-content-around mt-4">
    <div class="col-md-12 col-lg-8 mb-2">
      <app-menu [products]="products"></app-menu>
      <app-rating></app-rating>
    </div>
    <div class="col-md-12 col-lg-4 px-3">
      <app-dynamic-cart [chef]="chef"></app-dynamic-cart>
    </div>
  </div>
</div>

<div class="pb-5 pt-5">.</div>
</ng-container>