<ng-container *ngIf="!isLoading">

  <app-preview [chef]="chef"></app-preview>
  
  <app-products [products]="products"></app-products>
  
  <div class="container">
  <div class="row d-flex justify-content-around mt-4">
    <div class="col-md-12 col-lg-8 mb-2">
      <app-menu [products]="products" [chef]="chef"></app-menu>
      <app-rating></app-rating>
    </div>
    <div class="col-md-12 col-lg-4 px-3">
      <app-dynamic-cart [user]="user" [chef]="chef"></app-dynamic-cart>
    </div>
  </div>
</div>

<div class="pb-5 pt-5">.</div>

</ng-container>

<div class="position-absolute top-50 start-50" *ngIf="isLoading">
  <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>

