.own-border-3 {
  height: 3px;
}

img {
  height: 82%;
  width: 100%;
}

.bottom-85{
  bottom: 90px;
}

.btn:hover {
  background-color: var(--purple);
  color: white !important;
}

.nav-link{
  font-size: medium;
  color: var(--purple);
}

.nav-link.active{
  background-color: var(--purple);
  color: white;
}
