<div class="container-scroller">
    <div class="container-fluid page-body-wrapper mt-4">
        <div class="main-panel own-body">

            <!-- Working area start-->

            <span class="ms-4">
                <span class="h4">Manage Products</span>
                <a href="addProduct"> <button type="button"
                        class="btn btn-outline-primary border-2 float-end fw-bolder purple">ADD</button> </a>
            </span>

            <div class="container mt-4 mx-auto">
                <div class="row">
                    <div class="tab-content col-md-7 mx-auto">
                        <div class="order-body">
                            <div class="pb-3">
                                <div class="p-3 pb-0 rounded shadow-sm bg-white">
                                    <div class="d-flex">
                                        <div class="text-muted me-3 text-center">
                                            <img alt="productImage"
                                                src="http://res.cloudinary.com/homioncloud/image/upload/v1627223014/product/400002.png"
                                                class="img-fluid order-img rounded"><br>
                                            <h5><span class="mt-2 badge purple badge-info"> <i
                                                        class="fa fa-star"></i> Rating
                                                    Count</span></h5>
                                        </div>
                                        <div>
                                            <p class="mb-2 h4 fw-bolder">Fafda</p>
                                            <p class="mb-2 h5 fw-normal">Breakfast,
                                                Gujarati</p>
                                            <p class="h5 fw-normal"><i class="fa fa-inr"></i>100 Per
                                                500 grams</p>
                                        </div>
                                        <div class="ms-auto">
                                            <h5><span class="badge text-white bg-purple">30
                                                    Minutes</span></h5>
                                            <form method="post">
                                                <input type="hidden" name="id" value="">
                                                <input type="submit" value="Edit"
                                                    class="mt-1 btn btn-sm btn-outline-primary purple float-end"><br>
                                            </form>
                                            <form method="post">
                                                <input type="hidden" name="id" value="">
                                                <input type="submit" value="Delete"
                                                    class="mt-1 btn btn-sm btn-outline-primary purple float-end"><br>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Working area end-->

        </div>
    </div>
</div>