<div class="container-scroller">
    <div class="container-fluid page-body-wrapper mt-4">
        <div class="main-panel own-body">

            <div class="row">
                <div class="col-12">
                    <span class="h4 text-wrap">Manage Products</span>
                    <a routerLink="/chef/addProduct"> <button type="button"
                            class="btn btn-outline-primary border-2 float-end fw-bolder purple">ADD</button> </a>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="isLoading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <ng-container *ngIf="!isLoading">
                <div class="alert alert-danger mt-3" role="alert" *ngIf="products.length == 0">
                    No products found. Please add some ...
                </div>

                <div class="row mt-3">
                    <div class="mx-auto mb-3 col-12 col-sm-10 col-md-8 col-lg-8 col-xl-7"
                        *ngFor="let product of products">
                        <div class="card d-flex shadow-sm rounded">
                            <div class="row">
                                <div class="col-3 col-xxl-3 col-md-3 col-xl-3 col-sm-3 col-lg-3 pe-0 text-center">
                                    <img alt="productImage" class="rounded mt-3 ms-3" width="100%" height="60%"
                                        [src]="product.imageURL"><br>
                                    <p class="mt-2 ms-3 text-center badge purple badge-info fs-16">
                                        <i
                                            class="fa fa-star">&nbsp;</i>{{product.rating.$numberDecimal}}({{product.count}})
                                    </p>
                                </div>
                                <div class="col-9 col-xxl-9 col-md-9 col-xl-9 col-sm-9 col-lg-9">
                                    <div class="row ms-3">
                                        <div class="mt-3 ms-0">
                                            <div>
                                                <span class="mb-2 h4 fw-bolder">{{product.name}}</span>
                                                <span
                                                    class="badge me-3 text-white bg-purple float-end fs-16 d-none d-sm-block">{{product.prepTime}}
                                                    Minutes</span>
                                                <span class="me-3 purple float-end fs-16 fw-bold d-sm-none d-sm-none"><i
                                                        class="fa fa-clock-o"></i>
                                                    {{product.prepTime}} M</span>
                                            </div>
                                            <p class="mb-2 h6 fw-normal text-nowrap">
                                                {{product.subCategoryId.name}},{{product.categoryId.name}}
                                            </p>
                                            <p class="h6 fw-normal"><i class="fa fa-inr"></i>{{product.price}} Per
                                                {{product.unitValue}} {{product.unitType}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-4 ms-3 mb-2">
                                        <div class="col-11 mx-auto">
                                            <div class="btn-group w-100 d-flex" role="group" aria-label="Basic example">
                                                <button type="button"
                                                    class="btn btn-outline-primary purple border-2 fw-bolder">EDIT</button>
                                                <button class="btn btn-outline-primary purple border-2 fw-bolder"
                                                    (click)="deleteProduct(product._id, product.publicId)">DELETE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>