.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

.full {
  color: rgb(247 160 0);
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(247 160 0);
}
