<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <!-- <button class="btn btn-primary">
                <span aria-hidden="true"><i class="fa fa-home"></i>&nbsp; Dishes</span>
            </button>
            <button class="btn btn-primary ms-1">
                <span aria-hidden="true"><i class="fa fa-home"></i>&nbsp; Chefs</span>
            </button> -->

            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group" id="type">
                <button type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked ></button>
                <label class="btn btn-outline-secondary" for="btnradio1">User</label>

                <input type="radio" class="float-end btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
                <label class="btn btn-outline-secondary" for="btnradio2">Chef</label>
            </div>
        </div>
    </div>
</div>