<div class="container mt-3">
  <div class="card col-11 col-sm-11 col-md-8 col-lg-7 col-xl-6 mt-5 mx-auto">
    <div class="card-header d-flex">
      <div class="col-12 mt-2 d-flex justify-content-center h4">Reset Password</div>
    </div>

    <div class="card-body px-4">
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control shadow-none" id="pwd" placeholder="Enter password" name="pwd"
            formControlName="password" />
          <div class="text-danger" *ngIf="form.controls['password'].dirty">
            {{ form.controls['password'].errors ? form.controls['password'].errors['message'] : '' }}
          </div>
        </div>

        <div class="mb-3">
          <label for="pwd" class="form-label">Confirm Password:</label>
          <input type="password" class="form-control shadow-none" id="confirmPwd" placeholder="Enter password"
            name="cofirmPwd" formControlName="confirmPassword" />
        </div>

        <div *ngIf="!isMatch" class="alert alert-danger" role="alert">
          Passwords do not match
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class=" text-white bg-purple w-100 mb-2 mt-2 btn px-5" [disabled]="form.invalid">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>