<div id="mySidenav" class="sidenav shadow mt-2">
  <a routerLink="/user/home" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-home"></i> &nbsp; Home
  </a>
  <a routerLink="/user/my-orders" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-list-ul"></i> &nbsp; My Orders
  </a>
  <a routerLink="/user/favourites" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-heart"></i> &nbsp; Favourites
  </a>
  <a routerLink="/user/checkout" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-shopping-cart"></i> &nbsp; Cart
  </a>
  <a routerLink="/user/profile" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-user">&nbsp;</i> &nbsp; Profile
  </a>
  <a routerLink="/user/logout" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-sign-out"></i> &nbsp; Logout
  </a>
</div>