<form [formGroup]="form" (ngSubmit)="login()">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control shadow-none" id="email" placeholder="Enter email" name="email"
      formControlName="email" />
  </div>

  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <div class="input-group">
      <input [type]="hidePassword ? 'password' : 'text'" class="form-control shadow-none" id="pwd" placeholder="Enter password" name="pswd"
        formControlName="password" />
      <span class="input-group-text bg-white" id="basic-addon2" role="button" (click)="hidePassword = !hidePassword"><i [ngClass]="hidePassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i></span>
    </div>
  </div>

  <div class="mb-3">
    <label for="type" class="form-label">Type:</label>
    <select class="form-select shadow-none" id="type" name="type" formControlName="type">
      <option value="USER">User</option>
      <option value="CHEF">Chef</option>
    </select>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class=" text-white bg-purple w-100 mb-2 mt-2 btn px-5" [disabled]="form.invalid">
      Login
    </button>
  </div>
</form>