<div class="container-scroller mt-4 h-100">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel own-body">
            <div class="m-2">
                <h2 class="m-2">Menu</h2>
            </div>

            <div class="d-flex justify-content-center" *ngIf="isLoading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <ng-container *ngIf="!isLoading">
                <div *ngIf="!items" class="alert alert-danger my-4">
                    No item found. Please <a routerLink="/chef/addProduct">add</a> an item to continue!!
                </div>

                <div class="row mx-2 mt-4" *ngIf="items">
                    <div class="col-12 col-sm-12 col-md-6 mb-4" *ngFor="let item of items">
                        <div class="card shadow rounded">
                            <div class="card-body">
                                <div>
                                    <span class="h4">{{item.name}}</span>
                                    <ng-container *ngIf="item.isSpeciality; else Available">
                                        <span
                                            class="badge badge-pill bg-warning float-end fs-16 d-none d-sm-block">Chef's
                                            Special</span>
                                        <span class="text-warning float-end h4 d-sm-none d-block"><i
                                                class="fa fa-star"></i></span>
                                    </ng-container>
                                    <ng-template #Available>
                                        <span class="badge badge-pill badge-primary float-end fs-16 d-none d-sm-block">
                                            <ng-container *ngIf="item.status === 'AVAILABLE'; else OUT_OF_STOCK">
                                                Available
                                            </ng-container>
                                            <ng-template #OUT_OF_STOCK>
                                                Out of Stock
                                            </ng-template>
                                        </span>
                                        <span class="purple float-end h4 d-sm-none d-block"><i
                                                class="fa fa-check"></i></span>
                                    </ng-template>
                                </div>
                                <div class="my-2">
                                    <span class="text-muted fs-18">
                                        <i class="fa fa-inr menu-icon"></i> {{item.price}} | {{item.unitValue}}
                                        {{item.unitType}} | {{item.categoryId.name}}
                                    </span>
                                    <ng-container *ngIf="item.isSpeciality">
                                        <ng-container *ngIf="item.status === 'AVAILABLE'; else OUT_OF_STOCK">
                                            <span
                                                class="badge badge-pill badge-primary float-end fs-16 d-none d-sm-block">Available</span>
                                            <span class="purple float-end h4 d-sm-none d-block"><i
                                                    class="fa fa-check"></i></span>
                                        </ng-container>
                                        <ng-template #OUT_OF_STOCK>
                                            <span
                                                class="badge badge-pill badge-primary float-end fs-16 d-none d-sm-block">Out
                                                of Stock</span>
                                            <span class="purple float-end h4 d-sm-none d-block"><i
                                                    class="fa fa-close"></i></span>
                                        </ng-template>
                                    </ng-container>
                                </div>

                                <div class="w-100 btn-group btn-group-sm mt-2">
                                    <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder"
                                        [disabled]="item.status === 'AVAILABLE'"
                                        (click)="changeStatus(item, 'AVAILABLE')">AVAILABLE</button>
                                    <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder"
                                        [disabled]="item.status === 'OUT_OF_STOCK'"
                                        (click)="changeStatus(item, 'OUT_OF_STOCK')">OUT OF STOCK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>