<div class="container mt-5">
  <div class="row">
    <h4 class="ms-2">Delivery Address</h4>
    <div class="col-12 col-sm-6">
      <label>
        <input
          class="card-input-element"
          type="radio"
          name="product"
          value="a1"
        />
        <div class="card card-input pb-0">
          <div class="card-body">
            <h5>Home</h5>
            <p class="mb-0">
              13/Society Name,
              <br />
              Landmark, City - 385320
            </p>
          </div>
          <div class="card-footer d-grid p-0">
            <button class="btn bg-purple m-0 text-white">Edit</button>
          </div>
        </div>
      </label>
    </div>
    <div class="col-12 col-sm-6">
      <label>
        <input
          class="card-input-element"
          type="radio"
          name="product"
          value="a2"
        />
        <div class="card card-input pb-0">
          <div class="card-body">
            <h5>Work</h5>
            <p class="mb-0">
              13/Society Name,
              <br />
              Landmark, City - 385320
            </p>
          </div>
          <div class="card-footer d-grid p-0">
            <button class="btn m-0 purple">Edit</button>
          </div>
        </div>
      </label>
    </div>
  </div>

  <div class="row mt-2 px-2">
    <div class="col-12 d-grid">
      <button class="btn bg-purple m-0 text-white py-1" (click)="addNewAddress = !addNewAddress">ADD NEW ADDRESS</button>
    </div>
  </div>
</div>

<app-edit-address *ngIf="addNewAddress"></app-edit-address>
