/* You can add global styles to this file, and also import other style files */
:root {
  --purple: #5e2572 !important;
}

.purple {
  color: var(--purple) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

body {
  background-color: #f1f2f7 !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}