<div id="mySidenav" class="sidenav shadow mt-2">
    <a routerLink="/chef"><i class="fa fa-home"></i> &nbsp; Home</a>
    <a routerLink="/chef/menu"><i class="fa fa-list-ul"></i> &nbsp; Menu</a>
    <a routerLink="/chef/products"><i class="fa fa-birthday-cake"></i> &nbsp; Products</a>
    <a routerLink="/chef/business"><i class="fa fa-inr"></i> &nbsp; Business</a>
    <a routerLink="/chef/past-orders"><i class="fa fa-inr"></i> &nbsp; Past-Orders</a>
    <a href="#"><i class="fa fa-map-marker"></i> &nbsp; Address</a>
    <a href="#"><i class="fa fa-user">&nbsp;</i> &nbsp; Profile</a>
    <a href="#"><i class="fa fa-sign-out"></i> &nbsp; Logout</a>
</div>