<ng-template #editaddress let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Delivery Address</h4>
    <button type="button" class="btn" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="h5"><i class="fa fa-times"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="saveAddress()">
      <div class="mb-2">
        <label for="homeNo" class="form-label">Home No/Flat No</label>
        <input type="number" class="form-control shadow-none" id="homeNo" placeholder="Home No/Flat No"
          formControlName="homeNo" />
      </div>
      <div class="mb-2">
        <label for="society" class="form-label">Society Name</label>
        <input type="text" class="form-control shadow-none" id="society" placeholder="Society Name"
          formControlName="society" />
      </div>
      <div class="mb-2">
        <label for="landmark" class="form-label">Landmark</label>
        <input type="text" class="form-control shadow-none" id="landmark" placeholder="Landmark"
          formControlName="landmark" />
      </div>
      <div class="mb-2">
        <label for="areaId" class="form-label">Area</label>
        <select class="form-select shadow-none" id="areaId" formControlName="areaId">
          <option [value]="area.key" *ngFor="let area of areas | keyvalue">{{area?.value?.name}}</option>
        </select>
      </div>
      <div class="my-2">
        <label for="pincode" class="form-label">PIN code</label>
        <input type="number" class="form-control shadow-none" id="pincode"
          [value]="areas[form.controls['areaId'].value]?.pincode" placeholder="PIN code" formControlName="pincode" />
      </div>
      <div class="my-2">
        <label for="addressType" class="form-label">Type</label>
        <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group" id="addressType">
          <input type="radio" class="btn-check" id="HOME" value="HOME" autocomplete="off" formControlName="addressType"
            checked />
          <label class="btn btn-outline-secondary" for="HOME">Home</label>

          <input type="radio" class="btn-check" id="WORK" value="WORK" autocomplete="off"
            formControlName="addressType" />
          <label class="btn btn-outline-secondary" for="WORK">Work</label>

          <input type="radio" class="btn-check" id="OTHER" value="OTHER" autocomplete="off"
            formControlName="addressType" />
          <label class="btn btn-outline-secondary" for="OTHER">Other</label>
        </div>
      </div>
    </form>
  </div>
  <div class="p-0 m-0 modal-footer">
    <div class=" p-0 m-0 btn-group w-100" role="group" aria-label="Basic radio toggle button group" id="type">
      <button type="button" class="btn btn-light w-50" (click)="closeModal()">Close</button>
      <button type="button" class="btn bg-purple text-white w-50">Save changes</button>
    </div>
  </div>
</ng-template>