<div class="card w-100">

  <ul class="list-group list-group-flush p-2">
    <li class="list-group-item fs-5">Menu</li>
  </ul>

  <div class="card-header fs-6 ps-4 py-3">
    Starter
  </div>
  <ul class="list-group list-group-flush py-1 px-2">
    <li class="list-group-item py-3">
      ABC <br>
      <span class="fs-13 text-secondary"><i class="fa fa-inr"></i>300 For 500gm</span>
      <button
        class="btn btn-outline-secondary fs-13 py-1 px-2 mt-4 me-3 float-end position-absolute end-0 top-0">ADD</button>
    </li>
    <li class="list-group-item py-3">
      ABC <br>
      <span class="fs-13 text-secondary"><i class="fa fa-inr"></i>300 For 500gm</span>
      <button
        class="btn btn-dark fs-11 px-1 py-1 mt-4 me-3 float-end position-absolute end-0 top-0">OUT OF STOCK</button>
    </li>
    <li class="list-group-item py-3">
      ABC <br>
      <span class="fs-13 text-secondary"><i class="fa fa-inr"></i>300 For 500gm</span>
      <button
        class="btn btn-outline-secondary fs-13 py-1 px-2 mt-4 me-3 float-end position-absolute end-0 top-0">ADD</button>
    </li>
  </ul>

  <div class="card-header fs-6 ps-4 py-3">
    Desert
  </div>
  <ul class="list-group list-group-flush py-1 px-2">
    <li class="list-group-item py-3">
      ABC <br>
      <span class="fs-13 text-secondary"><i class="fa fa-inr"></i>300 For 500gm</span>
      <button
        class="btn btn-outline-secondary fs-13 py-1 px-2 mt-4 me-3 float-end position-absolute end-0 top-0">ADD</button>
    </li>
    <li class="list-group-item py-3">
      ABC <br>
      <span class="fs-13 text-secondary"><i class="fa fa-inr"></i>300 For 500gm</span>
      <button
        class="btn btn-outline-secondary fs-13 py-1 px-2 mt-4 me-3 float-end position-absolute end-0 top-0">ADD</button>
    </li>
    <li class="list-group-item py-3">
      ABC <br>
      <span class="fs-13 text-secondary"><i class="fa fa-inr"></i>300 For 500gm</span>
      <button
        class="btn btn-outline-secondary fs-13 py-1 px-2 mt-4 me-3 float-end position-absolute end-0 top-0">ADD</button>
    </li>
  </ul>

</div>